.abscs {
    width: 90%;
    position: unset !important;
    top: 100%;
    border-radius: 4px;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1);
    margin-bottom: 8px;
    margin-top: 8px;
    z-index: 1;
    box-sizing: border-box;
    .css-26l3qy-menu {
        width: fit-content;
        
    }

}
.abscs1 {
    top: 100%;
    // background-color: hsl(210deg 8% 95%) !important;
    border-radius: 4px;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1);
    margin-bottom: 8px;
    margin-top: 8px;
    width: fit-content;
    z-index: 1;
    box-sizing: border-box;
    // .css-26l3qy-menu {
    //     width: fit-content;
        
    // }
}
.abscs2 {
    // top: 100%;
    
    border-radius: 4px;
    background-color: #f2f3f4 !important;
    // box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1);
    // margin-bottom: 8px;
    // margin-top: 8px;
    // width: fit-content;
    // z-index: 1;
    // box-sizing: border-box;
    // .css-26l3qy-menu {
    //     width: fit-content;
        
    // }
    .css-1s2u09g-control{
        background-color: #f2f3f4 !important;
        margin-bottom: 3px;
        border-top: none;
        border-left: none;
        border-right: none;
    }
}
.abscs3 {
    text-align: left;
}